* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Pony";
    src: url("../assets/Pony.ttf");
}

#GameBauCua {
    font-family: "Pony";
    background-color: #4158d0;
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );
    min-height: 100vh;
}

.btn-replay {
    width: 160px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(
        to right,
        #f5ce62,
        #e43603,
        #fa7199,
        #e85a19
    );
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn-replay:hover {
    background-position: 100% 0;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-replay:focus {
    outline: none;
}

.btn-play {
    width: 100px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(
        to right,
        #f5ce62,
        #e43603,
        #fa7199,
        #e85a19
    );
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn-play:hover {
    background-position: 100% 0;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-play:focus {
    outline: none;
}

.scene {
    width: 50px;
    height: 50px;
    margin-top: 80px;
    perspective: 50px;
}

.cube {
    width: 50px;
    height: 50px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform infinite;
    transform: translateZ(-25px);
}

.cube__face {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    line-height: 40px;
    font-size: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.front {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateZ(25px);
}
.right {
    transform: rotateY(90deg) rotateX(0deg) rotateZ(0deg) translateZ(25px);
}
.back {
    transform: rotateY(180deg) rotateX(0deg) rotateZ(0deg) translateZ(25px);
}
.left {
    transform: rotateY(-90deg) rotateX(0deg) rotateZ(0deg) translateZ(25px);
}
.top {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateZ(25px);
}
.bottom {
    transform: rotateX(-90deg) rotateY(0deg) rotate(0deg) translateZ(25px);
}

label {
    margin-right: 10px;
}
